# Server
PORT=your_puerto
NODE_ENV=development | production

# DOCS

#(si no existe esta variable en swagger.js defaultea a: http://localhost:{PORT}/api/v1)
SWAGGER_SERVER_URL="your_url_swagger" 

# Database
DB_HOST=your_host
DB_USER=your_usuario
DB_PASSWORD=your_password
DB_NAME=your_db

# CORS
CORS_ORIGIN=your_url